.third-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    justify-content: center;
    /* border: 2px solid white; */
    padding: 2rem;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.423);
    backdrop-filter: blur(20px);
    color: black;
}
.third-section div{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 4px;
}
.third-section div select{
    font-size: 1rem;
}
.third-section div input{
    font-size: 1rem;
    padding: 4px;
    border-radius: 10px;
    border: none;
    flex: 1;
}
.third-sec-submit{
    font-size: 1rem;
    padding: 8px 16px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    margin: auto;
}